@import './a/a.css';

body {
  background-color: #cecdcd;
}
body::after {
  content: "";
  background: url('./flower.jpg');
  /* css-loader会解析为require('./logo.png') */
  opacity: 0.1;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;   
}